--
-- PostgreSQL database dump
--

\restrict xi7Gwr5QMD0bTdLbaNHV51gCXdM1YJ0HM3OM0XzGJTO4PjK8K1cy0JF8VtOoXfC

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: docker
--

CREATE TYPE public.user_role AS ENUM (
    'user',
    'admin'
);


ALTER TYPE public.user_role OWNER TO docker;

--
-- Name: check_quiz_result(); Type: FUNCTION; Schema: public; Owner: docker
--

CREATE FUNCTION public.check_quiz_result() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    number_of_questions INT;

BEGIN

    SELECT COUNT(*) INTO number_of_questions

    FROM questions

    WHERE quiz_id = NEW.quiz_id;



    IF (NEW.correct_answers + NEW.incorrect_answers) != number_of_questions THEN

        RAISE EXCEPTION

            'The sum of correct answers and incorrect answers (% + %) does not match the number of questions in the quiz (%)',

            NEW.correct_answers, NEW.incorrect_answers, number_of_questions;

    END IF;



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.check_quiz_result() OWNER TO docker;

--
-- Name: create_user(character varying, character varying, public.user_role, character varying, character varying); Type: FUNCTION; Schema: public; Owner: docker
--

CREATE FUNCTION public.create_user(p_username character varying, p_password_hash character varying, p_role public.user_role DEFAULT 'user'::public.user_role, p_email character varying DEFAULT NULL::character varying, p_favorite_genre character varying DEFAULT NULL::character varying) RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_user_id INT;

BEGIN

    INSERT INTO users (username, password_hash, role)

    VALUES (p_username, p_password_hash, p_role)

    RETURNING id INTO v_user_id;



    INSERT INTO user_details (user_id, email, favorite_genre)

    VALUES (v_user_id, p_email, p_favorite_genre);



    RETURN v_user_id;

END;

$$;


ALTER FUNCTION public.create_user(p_username character varying, p_password_hash character varying, p_role public.user_role, p_email character varying, p_favorite_genre character varying) OWNER TO docker;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: answers; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.answers (
    id integer NOT NULL,
    question_id integer NOT NULL,
    text character varying(1000) NOT NULL,
    is_correct boolean DEFAULT false NOT NULL
);


ALTER TABLE public.answers OWNER TO docker;

--
-- Name: answers_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.answers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.answers_id_seq OWNER TO docker;

--
-- Name: answers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.answers_id_seq OWNED BY public.answers.id;


--
-- Name: questions; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.questions (
    id integer NOT NULL,
    quiz_id integer NOT NULL,
    text character varying(1000) NOT NULL,
    audio_url character varying(500)
);


ALTER TABLE public.questions OWNER TO docker;

--
-- Name: questions_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.questions_id_seq OWNER TO docker;

--
-- Name: questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.questions_id_seq OWNED BY public.questions.id;


--
-- Name: quizzes; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.quizzes (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    album_cover_url character varying(500),
    created_by integer NOT NULL
);


ALTER TABLE public.quizzes OWNER TO docker;

--
-- Name: quiz_content; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public.quiz_content AS
 SELECT q.id AS quiz_id,
    q.title AS quiz_title,
    q.album_cover_url AS quiz_cover,
    q.created_by AS owner_id,
    qs.id AS question_id,
    qs.text AS question_text,
    qs.audio_url AS question_audio,
    a.id AS answer_id,
    a.text AS answer_text,
    a.is_correct AS answer_correct
   FROM ((public.quizzes q
     LEFT JOIN public.questions qs ON ((qs.quiz_id = q.id)))
     LEFT JOIN public.answers a ON ((a.question_id = qs.id)))
  ORDER BY qs.id, a.id;


ALTER VIEW public.quiz_content OWNER TO docker;

--
-- Name: users; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public.user_role DEFAULT 'user'::public.user_role NOT NULL
);


ALTER TABLE public.users OWNER TO docker;

--
-- Name: quiz_preview; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public.quiz_preview AS
 SELECT q.id,
    q.title,
    q.album_cover_url,
    u.username AS created_by_username
   FROM (public.quizzes q
     JOIN public.users u ON ((u.id = q.created_by)))
  ORDER BY q.id DESC;


ALTER VIEW public.quiz_preview OWNER TO docker;

--
-- Name: quiz_results; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.quiz_results (
    user_id integer NOT NULL,
    quiz_id integer NOT NULL,
    score integer DEFAULT 0,
    correct_answers integer,
    incorrect_answers integer,
    taken_time integer,
    played_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT quiz_results_correct_answers_check CHECK ((correct_answers >= 0)),
    CONSTRAINT quiz_results_incorrect_answers_check CHECK ((incorrect_answers >= 0)),
    CONSTRAINT quiz_results_score_check CHECK ((score >= 0)),
    CONSTRAINT quiz_results_taken_time_check CHECK ((taken_time >= 0))
);


ALTER TABLE public.quiz_results OWNER TO docker;

--
-- Name: quizzes_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.quizzes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quizzes_id_seq OWNER TO docker;

--
-- Name: quizzes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.quizzes_id_seq OWNED BY public.quizzes.id;


--
-- Name: user_details; Type: TABLE; Schema: public; Owner: docker
--

CREATE TABLE public.user_details (
    user_id integer NOT NULL,
    email character varying(255),
    favorite_genre character varying(50)
);


ALTER TABLE public.user_details OWNER TO docker;

--
-- Name: user_data; Type: VIEW; Schema: public; Owner: docker
--

CREATE VIEW public.user_data AS
 SELECT u.id AS user_id,
    u.username,
    u.role,
    ud.email,
    ud.favorite_genre,
    COALESCE(sum(qr.score), (0)::bigint) AS total_score
   FROM ((public.users u
     LEFT JOIN public.user_details ud ON ((u.id = ud.user_id)))
     LEFT JOIN public.quiz_results qr ON ((u.id = qr.user_id)))
  GROUP BY u.id, u.username, u.role, ud.email, ud.favorite_genre
  ORDER BY COALESCE(sum(qr.score), (0)::bigint) DESC;


ALTER VIEW public.user_data OWNER TO docker;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: docker
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO docker;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: docker
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: answers id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.answers ALTER COLUMN id SET DEFAULT nextval('public.answers_id_seq'::regclass);


--
-- Name: questions id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.questions ALTER COLUMN id SET DEFAULT nextval('public.questions_id_seq'::regclass);


--
-- Name: quizzes id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.quizzes ALTER COLUMN id SET DEFAULT nextval('public.quizzes_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: answers; Type: TABLE DATA; Schema: public; Owner: docker
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: docker
--



--
-- Data for Name: quiz_results; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.quiz_results (user_id, quiz_id, score, correct_answers, incorrect_answers, taken_time, played_at) FROM stdin;
\.


--
-- Data for Name: quizzes; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.quizzes (id, title, album_cover_url, created_by) FROM stdin;
1	The Doors	/images/cover/thedoors.jpg	1
2	Pink Floyd	\N	1
\.


--
-- Data for Name: user_details; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.user_details (user_id, email, favorite_genre) FROM stdin;
1	admin@quizmusic.local	rock
2	user@quizmusic.local	rock
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: docker
--

COPY public.users (id, username, password_hash, role) FROM stdin;
1	admin	$2a$12$9mWIpC1avGSNX7gtgA7EyeVpFTUAJ90Zng6A9yIEG9F1iPlwW6uK.	admin
2	user	$2a$12$9mWIpC1avGSNX7gtgA7EyeVpFTUAJ90Zng6A9yIEG9F1iPlwW6uK.	user
\.


--
-- Name: answers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.answers_id_seq', 24, true);


--
-- Name: questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.questions_id_seq', 6, true);


--
-- Name: quizzes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.quizzes_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: docker
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: answers answers_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT answers_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: quiz_results quiz_results_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.quiz_results
    ADD CONSTRAINT quiz_results_pkey PRIMARY KEY (user_id, quiz_id);


--
-- Name: quizzes quizzes_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.quizzes
    ADD CONSTRAINT quizzes_pkey PRIMARY KEY (id);


--
-- Name: user_details user_details_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_details
    ADD CONSTRAINT user_details_pkey PRIMARY KEY (user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: quiz_results trg_check_quiz_result; Type: TRIGGER; Schema: public; Owner: docker
--

CREATE TRIGGER trg_check_quiz_result BEFORE INSERT OR UPDATE ON public.quiz_results FOR EACH ROW EXECUTE FUNCTION public.check_quiz_result();


--
-- Name: answers fk_answer_question; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.answers
    ADD CONSTRAINT fk_answer_question FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: questions fk_question_quiz; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT fk_question_quiz FOREIGN KEY (quiz_id) REFERENCES public.quizzes(id) ON DELETE CASCADE;


--
-- Name: quiz_results fk_quiz_results_quiz; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.quiz_results
    ADD CONSTRAINT fk_quiz_results_quiz FOREIGN KEY (quiz_id) REFERENCES public.quizzes(id) ON DELETE CASCADE;


--
-- Name: quiz_results fk_quiz_results_user; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.quiz_results
    ADD CONSTRAINT fk_quiz_results_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: quizzes fk_quiz_user; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.quizzes
    ADD CONSTRAINT fk_quiz_user FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_details fk_user_details_user; Type: FK CONSTRAINT; Schema: public; Owner: docker
--

ALTER TABLE ONLY public.user_details
    ADD CONSTRAINT fk_user_details_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict xi7Gwr5QMD0bTdLbaNHV51gCXdM1YJ0HM3OM0XzGJTO4PjK8K1cy0JF8VtOoXfC

