<?php
if (session_status() === PHP_SESSION_NONE) {
    session_start();
}

/** @var User[] $users */
$users = $users ?? [];
?>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/home.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/admin.css" />
    <script src="/public/scripts/home/toggleMenuBar.js" defer></script>
    <title>Admin page</title>
</head>

<body>
    <header>
        <button class="menu-toggle">&#9776;</button>

        <div class="logo-wrapper">
            <div class="brand-icon">🎵</div>
            <div class="main-text">TuneInQuiz</div>
        </div>
        <nav>
            <div class="link-btn-wrapper">
                <a class="btn-link header" href="/logout">Log out</a>
                <?php if (isset($_SESSION['user']) && $_SESSION['user']->getRole() === 'admin'): ?>
                <a class="btn-link header" href="/admin">Admin</a>
                <?php endif; ?>
            </div>

            <div class="user-wrapper">
                <img class="user-picture" />
                <div class="user-info">
                    <div class="user-name">
                        <?= $_SESSION['user']->getUsername() ?? '' ?>
                    </div>
                    <div class="user-datails">
                        <?= $_SESSION['user']->getRole() ?? '' ?>
                    </div>
                    <div class="user-datails">
                        <?= $_SESSION['user']->getEmail() ?? '' ?>
                    </div>
                    <div class="user-datails">
                        score :
                        <?= $_SESSION['user']->getTotalScore() ?? '0' ?>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <main>
        <div class="home-content">
            <div class="search-wrapper-admin">
                <a class="back-link" href="/home">
                    <div class="back-arrow">
                        &#10508;
                    </div>
                    Go Home
                </a>
                <form class="search-form" method="GET" action="/admin" autocomplete="off">
                    <input class="search-input" type="text" name="search" placeholder="Search for users...">
                    <button type="submit">Search</button>
                </form>
            </div>

            <div class="user-list">
                <div class="user-list-header">
                    <div>Name and role</div>
                    <div>Edit or delete</div>
                </div>

                <?php foreach ($users as $user): ?>
                <div class="user-tile">

                    <div class="user-wrapper">
                        <img class="user-picture" />

                        <div class="user-info">
                            <div class="user-name">
                                <?= htmlspecialchars($user->getUsername()) ?>
                            </div>

                            <div class="user-datails">
                                <?= htmlspecialchars($user->getRole()) ?>
                            </div>

                            <div class="user-datails">
                                <?= htmlspecialchars($user->getEmail() ?? '-') ?>
                            </div>

                            <div class="user-datails">
                                score :
                                <?= $user->getTotalScore() ?>
                            </div>
                        </div>
                    </div>

                    <div class="form-wrapper">
                        <form method="POST" action="/admin/change-role">
                            <input type="hidden" name="user_id" value="<?= $user->getId() ?>">

                            <select class="select-role" name="role" required onchange="this.form.submit()">
                                <?php foreach ($roles as $roleOption): ?>
                                <option value="<?= $roleOption ?>" <?=$user->getRole() === $roleOption ? 'selected' : ''
                                    ?>>
                                    <?= $roleOption ?>
                                </option>
                                <?php endforeach; ?>
                            </select>
                        </form>

                        <form method="DELETE" action="/admin/delete-user">
                            <input type="hidden" name="user_id" value="<?= $user->getId() ?>">
                            <button class="trash-bin" type="submit"></button>
                        </form>
                    </div>

                </div>
                <?php endforeach; ?>
            </div>

        </div>
    </main>
</body>

</html>