<?php
if (session_status() === PHP_SESSION_NONE) {
    session_start();
}
?>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/home.css" />
    <script src="/public/scripts/home/toggleMenuBar.js" defer></script>
    <title>Discover quizzes</title>
</head>

<body>
    <header>
        <button class="menu-toggle">&#9776;</button>

        <div class="logo-wrapper">
            <div class="brand-icon">🎵</div>
            <div class="main-text">TuneInQuiz</div>
        </div>
        <nav>
            <a class="btn-link" href="/logout">Log out</a>
            <div class="user-wrapper">
                <img class="user-picture" />
                <div class="user-info">
                    <div class="user-name">
                        <?= $_SESSION['user']['username'] ?? 'Guest' ?>
                    </div>
                    <div class="user-datails">
                        <?= $_SESSION['user']['role'] ?? '' ?>
                    </div>
                    <div class="user-datails">
                        <?= $_SESSION['user']['email'] ?? '' ?>
                    </div>
                    <div class="user-datails">
                        score :
                        <?= $_SESSION['user']['total_score'] ?? '0' ?>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <main>
        <div class="home-content">
            <div class="search-wrapper">
                <div class="main-text">Discover Quizzes</div>
                <form class="search-form" method="GET" action="/home" autocomplete="off">
                    <input class="search-input" type="text" name="search" placeholder="Search for quizzes...">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="quizzes-container">

                <?php if (!empty($quizzes)): ?>
                <?php foreach ($quizzes as $quiz): ?>
                <a href="/play_quiz?id=<?= $quiz['id'] ?>" class="quiz-tile">
                    <img class="quiz-tile-album-cover" src="
                        <?php if (!empty($quiz['albumcoverurl'])): ?>
                            <?=  'http://localhost:8080/public' . $quiz['albumcoverurl']?>
                        <?php else: ?>
                            <?=  'http://localhost:8080/public/images/cover/default.png'?>
                        <?php endif; ?>" alt="<?= $quiz['title'] ?>" />

                    <div class="quiz-tile-title">
                        <?= $quiz['title'] ?>
                    </div>

                    <div class="quiz-tile-subtitle">
                        by
                        <?= $quiz['createdbyusername'] ?? '' ?>
                    </div>
                </a>
                <?php endforeach; ?>
                <?php else: ?>
                <div class="empty-state">
                    No quizzes found
                </div>
                <?php endif; ?>

            </div>

        </div>

        <a class="fab" href="/create_quiz">+</a>


    </main>
</body>

</html>