<?php
session_start();
?>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/home.css" />
    <script src="/public/scripts/home/toggleMenuBar.js" defer></script>
    <title>Discover quizzes</title>
</head>

<body>
    <header>
        <button class="menu-toggle">&#9776;</button>

        <div class="logo-wrapper">
            <div class="brand-icon">🎵</div>
            <div class="main-text">TuneInQuiz</div>
        </div>
        <nav>
            <a class="btn-link" href="/logout">Log out</a>
            <div class="user-wrapper">
                <img class="user-picture" />
                <div class="user-info">
                    <div class="user-name">
                        <?= $_SESSION['username'] ?? 'Guest' ?>
                    </div>
                    <div class="user-role">
                        <?= $_SESSION['role'] ?? '' ?>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <main>
        <div class="home-content">
            <div class="search-wrapper">
                <div class="main-text">Discover Quizzes</div>
                <form class="search-form" method="GET" action="/home" autocomplete="off">
                    <input class="search-input" type="text" name="search" placeholder="Search for quizzes...">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="quizzes-container">

                <?php if (!empty($quizzes)): ?>
                <?php foreach ($quizzes as $quiz): ?>
                <div class="quiz-tile">
                    <img class="quiz-tile-album-cover" src="<?= $quiz['albumcoverurl'] ?? '' ?>"
                        alt="<?= $quiz['title'] ?>" />

                    <div class="quiz-tile-title">
                        <?= $quiz['title'] ?>
                    </div>

                    <div class="quiz-tile-subtitle">
                        by
                        <?= $quiz['createdbyusername'] ?? '' ?>
                    </div>
                </div>
                <?php endforeach; ?>
                <?php else: ?>
                <div class="empty-state">
                    No quizzes found
                </div>
                <?php endif; ?>

            </div>

        </div>

        <a class="fab" href="/create_quiz">+</a>


    </main>
</body>

</html>