<?php
if (session_status() === PHP_SESSION_NONE) {
    session_start();
}
?>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/home.css" />
    <script src="/public/scripts/home/toggleMenuBar.js" defer></script>
    <title>Discover quizzes</title>
</head>

<body>
    <header>
        <button class="menu-toggle">&#9776;</button>

        <div class="logo-wrapper">
            <div class="brand-icon">🎵</div>
            <div class="main-text">TuneInQuiz</div>
        </div>
        <nav>
            <div class="link-btn-wrapper">
                <a class="btn-link header" href="/logout">Log out</a>
                <?php if (isset($_SESSION['user']) && $_SESSION['user']->getRole() === 'admin'): ?>
                <a class="btn-link header" href="/admin">Admin</a>
                <?php endif; ?>
            </div>

            <div class="user-wrapper">
                <img class="user-picture" />
                <div class="user-info">
                    <div class="user-name">
                        <?= $_SESSION['user']->getUsername() ?? '' ?>
                    </div>
                    <div class="user-datails">
                        <?= $_SESSION['user']->getRole() ?? '' ?>
                    </div>
                    <div class="user-datails">
                        <?= $_SESSION['user']->getEmail() ?? '' ?>
                    </div>
                    <div class="user-datails">
                        score :
                        <?= $_SESSION['user']->getTotalScore() ?? '0' ?>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <main>
        <div class="home-content">
            <div class="search-wrapper">
                <div class="main-text">Discover Quizzes</div>
                <form class="search-form" method="GET" action="/home" autocomplete="off">
                    <input class="search-input" type="text" name="search" placeholder="Search for quizzes...">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="quizzes-container">

                <?php if (!empty($quizzes)): ?>
                <?php /** @var QuizPreview[] $quizzes */
                    foreach ($quizzes as $quiz):
                    ?>
                <div class="quiz-tile-wrapper">

                    <a href="/play_quiz?id=<?= $quiz->getId() ?>" class="quiz-tile">
                        <img class="quiz-tile-album-cover" src="
                        <?php if (!empty($quiz->getAlbumCoverUrl())): ?>
                            <?= 'http://localhost:8080/public' . $quiz->getAlbumCoverUrl() ?>
                        <?php else: ?>
                            <?= 'http://localhost:8080/public/images/cover/default.png' ?>
                        <?php endif; ?>" alt="<?= $quiz->getTitle() ?>" />
                    </a>

                    <div class="quiz-tile-info">
                        <div class="quiz-tile-text-wrapper">
                            <div class="quiz-tile-title">
                                <?= $quiz->getTitle() ?>
                            </div>

                            <div class="quiz-tile-subtitle">
                                by
                                <?= $quiz->getCreatedByUsername() ?? '' ?>
                            </div>
                        </div>

                        <?php 
                        $user=$_SESSION['user'] ?? null;
                        $canCRUD=$user && ( $user->getRole() === 'admin'||
                            $quiz->getCreatedByUsername() === $user->getUsername());
                            ?>

                        <?php if ($canCRUD): ?>

                        <form method="POST" action="/delete_quiz"
                            onsubmit="return confirm('Are you sure you want to delete this quiz?');">

                            <input type="hidden" name="quizId" value="<?= $quiz->getId() ?>">
                            <div class="crud-btn-wrapper">
                                <button class="edit-icon" type="button"
                                    onclick="window.location.href='edit_quiz?id=<?= $quiz->getId() ?>'"></button>
                                <button class="trash-bin" type="submit"></button>
                            </div>
                        </form>
                        <?php endif; ?>
                    </div>

                </div>
                <?php endforeach; ?>
                <?php else: ?>
                <div class="empty-state">
                    No quizzes found
                </div>
                <?php endif; ?>

            </div>

        </div>

        <a class="fab" href="/create_quiz">+</a>


    </main>
</body>

</html>