<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/login.css" />
    <title>LOGIN</title>
</head>

<body>


    <form method="POST" action="/login">

    <h1>LOGIN</h1>

        <?php if(isset($messages)): ?>
            <p class="messages">
                <?= $messages; ?>
            </p>
        <?php endif; ?>

        <input type="text" name="email" placeholder="Podaj email">

        <input type="password" name="password" placeholder="Podaj hasło">

        <!-- type reset czyści formularz -->
        <!-- <button type="reset">Reset</button> -->
        <button type="submit">Login</button>
    </form>
</body>

</html>