<?php
if (session_status() === PHP_SESSION_NONE) {
    session_start();
}
?>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/home.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/createQuiz.css" />
    <script src="/public/scripts/home/toggleMenuBar.js" defer></script>
    <title>Add questions</title>
</head>

<body>
    <header>
        <button class="menu-toggle">&#9776;</button>

        <div class="logo-wrapper">
            <div class="brand-icon">🎵</div>
            <div class="main-text">TuneInQuiz</div>
        </div>
        <nav>
            <a class="btn-link" href="/logout">Log out</a>
            <div class="user-wrapper">
                <img class="user-picture" />
                <div class="user-info">
                    <div class="user-name">
                        <?= $_SESSION['user']['username'] ?? 'Guest' ?>
                    </div>
                    <div class="user-role">
                        <?= $_SESSION['user']['role'] ?? '' ?>
                    </div>
                    <div class="user-datails">
                        score :
                        <?= $_SESSION['user']['total_score'] ?? '0' ?>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <main>
        <div class="home-content center">
            <div class="form-content">
                <div>
                    <div class="main-text">Create Quiz</div>
                    <div class="description-text">Step 2 – add questions</div>
                    <div class="description-text">
                        Quiz named:
                        <?= $_SESSION['quiz']['title'] ?>
                    </div>
                    <div class="description-text">Question number:
                        <?= $_SESSION['quiz']['currentQuestionNumber'] ?? 'not set' ?>
                    </div>
                </div>


                <form method="POST" action="/add_question_action" enctype="multipart/form-data" class="quiz-form">

                    <label for="question">Question</label>
                    <input name="question" required>
                    <label for="cover">Upload mp3 file</label>
                    <input class="upload-quiz-cover-input" type="file" name="cover" accept=".mp3,audio/mp3" required>

                    <br />
                    <label for="answers">Answers</label>
                    <input name="ans_A" placeholder="Answer A" required>
                    <input name="ans_B" placeholder="Answer B" required>
                    <input name="ans_C" placeholder="Answer C">
                    <input name="ans_D" placeholder="Answer D">

                    <label for="correct">Correct answer</label>
                    <select name="correct" required>
                        <option value="">Select correct answer</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>

                    <br />

                    <?php if(isset($error)): ?>
                    <p class="messages">
                        <?= $error; ?>
                    </p>
                    <?php endif; ?>

                    <div class="btn-wrapper-outside">
                        <div class="btn-wrapper-inside">
                            <a class="btn-link nav-btn" href="/cancel_creating_quiz">Cancel</a>
                            <button class="nav-btn" type="submit" name="next_question">Next question</button>
                        </div>
                        <div class="btn-wrapper-inside">
                            <button class="nav-btn" type="submit" name="save">Save Quiz</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>


    </main>
</body>

</html>