<?php
if (session_status() === PHP_SESSION_NONE) {
    session_start();
}
?>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/home.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/createQuiz.css" />
    <script src="/public/scripts/home/toggleMenuBar.js" defer></script>
    <title>Quiz created successfully</title>
</head>

<body>
    <header>
        <button class="menu-toggle">&#9776;</button>

        <div class="logo-wrapper">
            <div class="brand-icon">🎵</div>
            <div class="main-text">TuneInQuiz</div>
        </div>
        <nav>
            <a class="btn-link" href="/logout">Log out</a>
            <div class="user-wrapper">
                <img class="user-picture" />
                <div class="user-info">
                    <div class="user-name">
                        <?= $_SESSION['user']->getUsername() ?? '' ?>
                    </div>
                    <div class="user-datails">
                        <?= $_SESSION['user']->getRole() ?? '' ?>
                    </div>
                    <div class="user-datails">
                        score :
                        <?= $_SESSION['user']->getTotalScore() ?? '0' ?>
                    </div>
                </div>

            </div>
        </nav>
    </header>

    <main>
        <div class="home-content center">
            <div class="form-content">
                <div>
                    <div class="main-text">Create Quiz</div>
                    <div class="description-text">Step 3 – Quiz created successfully</div>
                </div>

                <div class="btn-wrapper">
                    <a class="btn-link nav-btn" href="/home">Go back</a>
                </div>

            </div>
        </div>


    </main>
</body>

</html>