.search-wrapper-admin {
    padding: 2em 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.back-link {
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    text-align: center;
}


.back-arrow {
    font-weight: 900;
    display: inline;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.user-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

    padding: 0 3em;

    margin-top: 0.6em;
    font-size: 0.85em;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;

}


.user-tile {
    background-color: #150E1D;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.5em 3em;
    align-items: center;
    width: 100%;
}

.select-role {
    width: 100%;
}

.trash-bin {
    background-image: url("./../images/icons/trash_bin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 1.5em;
}

.form-wrapper.hidden {
    visibility: hidden;
}

.form-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1em;
}

/* Mobile */
@media (max-width: 768px) {
    .user-tile {
        padding: 0.5em 0.5em;
    }
}