/* button */

button,
a.btn-link {
    text-decoration: none;

    background: #a54ef8;
    border: none;
    padding: 1em 1.5em;
    color: #fff;
    font-size: 1.1em;
    border-radius: 3em;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button:hover,
a.btn-link:hover {
    filter: brightness(1.1);
}

button:active,
a.btn-link:active {
    filter: brightness(0.9);
}

/* --- FORM --- */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

label {
    color: #fff;
}

input {
    padding: 1em 1.5em;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 2em;
    color: #fff;
}

/* file input */

input::-webkit-file-upload-button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 2em;
    background-color: #a54ef8;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

input::-webkit-file-upload-button:hover {
    filter: brightness(1.1);
}

/* select */
select {
    padding: 0.6em 1em;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
    width: 50%;
    font-size: 1em;
}

select option {
    background-color: #221034;
    color: #fff;
}