@import "./form.css";
@import "./components/quizTile.css";
@import "./components/header.css";

/* main */

main {
    height: 100vh;
    background-color: #221034;

    display: flex;
    justify-content: center;
}

.home-content {
    width: 80vw;
    max-width: 1000px;
    margin: 0 2em;
    background-color: rgba(36, 25, 51, 0.4);

}

.search-wrapper {
    padding: 2em 0;

    display: flex;
    justify-content: center;
    gap: 4em;
}

.search-input {
    width: 35%;
}