@import "./form.css";
@import "./components/quizTile.css";
@import "./components/header.css";
@import "./components/fab.css";

/* main */

main {
    min-height: 100vh;

    background-color: #221034;

    display: flex;
    justify-content: center;
}

.home-content {
    width: 80vw;
    max-width: 1000px;
    margin: 0 2em;
    background-color: rgba(36, 25, 51, 0.4);

    display: flex;
    flex-direction: column;
}

.search-wrapper {
    padding: 2em 0;

    display: flex;
    justify-content: center;
    gap: 4em;
}

.search-input {
    width: 35%;
}


/* Mobile */
@media (max-width: 768px) {
    .home-content {
        width: 100%;
        margin: 0;
    }

    .search-wrapper {
        flex-direction: column;
        gap: 1em;
        padding: 1em 0;
        align-items: center;
    }

    .search-input {
        width: 70%;
        min-width: 200px;
    }
}