.main-login-layout {
    height: 100vh;
    width: 100%;

    background: url("../images/loginBackground.png") no-repeat center center;
    background-size: cover;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-panel {
    width: 40em;
    height: 100%;
    background: rgba(0, 0, 0, 0.79);
    overflow: hidden;

    display: flex;
}

.login-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10em;
}

.form-content {
    width: 28em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* --- BRAND SECTION --- */

.brand {
    text-align: center;
}

.brand-icon {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 0 auto 8px;
}

.brand h1 {
    font-size: 2em;
    color: #fff;
}

.brand p {
    margin: 0;
    color: #dcdcdc;
}

/* --- SWITCHER BUTTONS --- */

.switcher {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.switcher-content {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 2em;
}

.switcher a {
    font-size: 1.1em;
    text-decoration: none;
    display: inline-block;

    padding: 0.7em 2em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    background: none;
    color: #ccc;
}

.switcher a:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

.switcher a.active:hover {
    background-color: rgba(165, 78, 248, 0.8)
}

.switcher .active {
    background: #a54ef8;
    color: white;
}

/* --- FORM --- */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

label {
    color: #fff;
}

input {
    padding: 1em 1.5em;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 2em;
    color: #fff;
}

input::placeholder {
    color: #ccc;
}

/* Password wrapper */

.forgot {
    align-self: flex-end;
    font-size: 0.9em;
    color: #bbb;
    text-decoration: none;
}

/* Submit button */

.submit {
    background: #a54ef8;
    border: none;
    padding: 1em 1.5em;
    color: #fff;
    font-size: 1.1em;
    border-radius: 3em;
    cursor: pointer;
}

.submit:hover,
.active:hover {
    background-color: rgba(165, 78, 248, 0.8)
}

button:active {
    filter: brightness(0.9);
}

.messages {
    color: #a54ef8;
    text-align: center;
    font-weight: bold;
}