@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Spline Sans", sans-serif;
}