.fab {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    border-radius: 50%;
    /* idealnie okrągły */
    border: none;
    background-color: rgba(36, 25, 51, 1);
    color: rgba(255, 255, 255, 0.4);
    font-size: 2.5em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    z-index: 1000;
    /* na wierzchu wszystkiego */
}

.fab:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}

/* Mobile */
@media (max-width: 768px) {
    .fab {
        bottom: .5em;
        right: .5em;
        width: 2em;
        height: 2em;
    }
}